.trading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .trading-card {
    width: 90%;
    max-width: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background: #fff;
  }
  
  .trading-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .trading-icon {
    font-size: 40px;
    margin-right: 10px;
  }
  
  .trading-company-name {
    font-size: 24px;
    margin: 0;
  }
  
  .trading-symbol {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .trading-price-info {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trading-price-label {
    font-size: 18px;
    color: #777;
    margin: 0;
  }
  
  .trading-price-value {
    font-size: 30px;
    margin: 5px 0;
  }
  
  .trading-price-change {
    font-size: 18px;
    color: #4CAF50; /* Or the appropriate color based on the value */
    margin: 0;
  }
  
  .trading-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .trading-sell-button,
  .trading-buy-button {
    width: 48%; /* Slightly less than half to account for the gap */
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #dcdcdc; /* Sell button has a border */
    background-color: #fff; /* Sell button is white */
  }
  
  .trading-buy-button {
    background-color: black;
    color: white;
    border: none;
  }
  
  .trading-sell-button:hover,
  .trading-buy-button:hover {
    opacity: 0.8;
  }
  