.navbar {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    margin: 0;
    font-size: 24px;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

.emoji {
    font-size: 24px;
    cursor: default;
}

/* This will remove the focus border that appears when you click the button */
.icon-button:focus {
    outline: none;
}

/* Add this if you have additional styling for buttons */
.icon-button:hover, .icon-button:active {
    background-color: transparent;
    box-shadow: none;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-icons {
        order: 2; /* This ensures that the navbar icons are positioned to the right */
    }

    .navbar-title {
        order: 1; /* This ensures that the navbar title is positioned to the left */
    }
}
