.navbar {
    background-color: #fff;
    border-bottom: 1px solid rgb(48, 124, 255);
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    margin: 0;
    font-size: 24px;
    order: 1;
}

.navbar-icons {
    display: flex;
    align-items: center;
    order: 2;
}

.navbar-container h1 {
    align-items: left;
}

.navbar-container img {
    align-items: center;
    width: 36px;
    height: 36px;
    flex-direction: row;
    justify-content: space-between;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

.emoji {
    font-size: 24px;
    cursor: default;
}

/* This will remove the focus border that appears when you click the button */
.icon-button:focus {
    outline: none;
}

/* Add this if you have additional styling for buttons */
.icon-button:hover, .icon-button:active {
    background-color: transparent;
    box-shadow: none;
}

