.stock-list {
    padding: 10px;
    background-color: #fff;
    color: #000
  }
  
.stock-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.stock-icon {
    width: 50px; /* Limit width to keep logos uniform */
    height: 50px; /* Limit height to keep logos uniform */
    object-fit: contain; /* Ensures logos are scaled properly, maintaining their aspect ratio */
    margin-right: 10px; /* Optional: Adds some spacing between the logo and stock info */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 50%;
}

.stock-info {
    flex-grow: 1;
    margin-left: 10px;
}

.stock-name {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.stock-symbol {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.stock-price {
    font-size: 16px;
    font-weight: bold;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
